<html>
<head>
	<title>Add a Book</title>
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">
	-->
	<!-- Link a CSS style sheet -->
	<link rel="stylesheet" href="css/add.css">
	<link href='https://fonts.googleapis.com/css?family=Baloo Thambi' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

<!-- Header of the page-->
<div class="header">
	<!-- Useul unicode for later&#9776; &#8592; -->
	<!-- Back Button -->
	<button onclick="window.location.href='/home'" class="back"> 
		&#10094;
	</button>
	<!-- App name -->
	<h1> STUDUwU </h1>

	<!-- Help Button -->
	<button onclick="window.location.href='/help'" class="help">  ?  
	</button>

</div>

<!-- Subtitle-->
<div class="title">
	<h2> <b><u>Add a Book</u></b> </h2>
</div>

<!-- Settings-->
<form>
	<div class="settings">
		<b>Name of Book: </b> <br>
		<input type="text" name="book">
	</div>	
</form>

<form>
	<div class="settings">
		<b>Pages Per Session:</b> <br>
		<input type="number" name="pages" min="1">
	</div>
</form>

<form>
	<div class="settings">
		<b>Reading Time:</b> <br>
		<input type="number" name="time" min="1">
	</div>
</form>

<form>
	<div class="settings">
		<b>Break Time:</b> <br>
		<input type="number" name="break" min="10">
	</div>
</form>

<form>
	<div class="settings">
		<b>Reminder Method?</b> <br>
		<input type="text" name="reminder">
	</div>
</form>

<div onclick="window.location.href='/home'" class="done">
	<button> Done! </button>
</div>

<div class="uwu">
	<footer>
		UwU
	</footer>
</div>
</body>
</html>
