<html>
<head>
	<title>Add a Book</title>
</head>
<body>
<a href="/"><p> Go Home</p></a>

<!-- Title of Page-->
<h1> STUDUWU </h1>
<a href="/toduwu"><h2>?</h2></a>
<!-- Subtitle-->
<h2> <b><u>Add a Book</u></b> </h2>

<!-- Settings-->
<form>
	<b>Name of Book:</b> <br>
	<input type="text" name="book">
</form>
<form>
	<b>Pages Per Session:</b> <br>
	<input type="number" name="pages" min="1">
</form>

<form>
	<b>Reading Time:</b> <br>
	<input type="number" name="time" min="1">
</form>

<form>
	<b>Break Time:</b> <br>
	<input type="number" name="break" min="10">
</form>

<form>
	<b>Reminder Method?</b> <br>
	<input type="text" name="reminder">
</form>


<button> <b> <a href="/">DONE!</a></b></button>
<footer>
	<h4>UwU</h4>
</footer>
</body>
</html>
