<html>
<head>
	<title>Add a Book</title>
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">
	-->
	<!-- Link a CSS style sheet -->
	<link rel="stylesheet" href="/css/add.css">
	<link href='https://fonts.googleapis.com/css?family=Baloo Thambi' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

<!-- Header of the page-->
<div class="header">
	<!-- Useul unicode for later&#9776; &#8592; -->
	<!-- Back Button -->
	<button onclick="window.location.pathname='/home/{{userID}}'" class="back"> 
		&#10094;
	</button>
	<!-- App name -->
	<h1> STUDUwU </h1>

	<!-- Help Button -->
	<button onclick="window.location.pathname='/help/{{userID}}'" class="help">  ?  
	</button>

</div>

<!-- Subtitle-->
<div class="title">
	<h2> <b><u>Add a Book</u></b> </h2>
</div>

<!-- Settings-->
<form role="form" action="/add/{{userID}}" method="POST">

	<div class="settings">
		
		<b>Name of Book: </b> <br>
		<input type="text" id="book">
		<br>

		<b>Pages Per Session:</b> <br>
		<input type="number" id="pages" min="1">
		<br>

		<b>Reading Time:</b> <br>
		<input type="number" id="time" min="1">
		<br>

		<b>Break Time:</b> <br>
		<input type="number" id="break" min="10">
		<br>

		<b>Reminder Method?</b> <br>
		<input type="radio" name="reminder" id="reminder" value="Music">
			Music <br>
		<input type="radio" name="reminder" id="reminder" value="Voice">
			Voice <br>
		<input type="radio" name="reminder" id="reminder" value="Beep">
			Beep <br>
		<input type="radio" name="reminder" id="reminder" value="boop">
			Boop <br>
		<br>

		<input type="submit" name="submit" value="Add">
		<br>
	</div>

</form>

<div class="uwu">
	<footer>
		UwU
	</footer>
</div>
</body>
</html>
