<html>
<head>
	<title>	Help! </title>
	<!--
	<meta name="viewport" content="width=device-width">
	-->	<!-- Link a CSS style sheet -->
	<link rel="stylesheet" href="/css/help.css">
	<link href='https://fonts.googleapis.com/css?family=Baloo Thambi' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Baloo Thambi" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/video.js"></script>
</head>
<body>

<!-- Header of the page-->
<div class="header">
	<!-- Useul unicode for later&#9776;-->
	<!-- Back Button -->
	<button onclick="window.location.pathname='/home/{{userID}}'" class="back"> 
		&#10094;
	</button>
	<!-- App name -->
	<h1> STUDUwU </h1>

		<!-- Help Button -->
	<button class="help">  
	</button>
	
</div>

<!-- Subtitle-->
<div class="title">
	<h2> <b><u>HELP!</u></b> </h2>
	<p> <i> Click on question to reveal answer </i> </p>
</div>

<div>
	<h4> 
		<div id="light">
			<a class="boxclose" id="boxclose" onclick="lightbox_close();"></a>
			<video id="video" width="700" controls>
			  <source src="../images/editBook.mov" type="video/mp4">
			</video>
		</div>

		<div class="info">
			<a onclick="show(1)">
				1) How do I edit a book?
			</a>
			<div class="hiddenInfo" id="hidden1" style="display: none;">
				<p> - You are able to edit a book by clicking on the pencil icon seen on the top right corner of the screen.
				</p>
				<button href="#" onclick="lightbox_open();">Video</button>
			</div>
		</div>
		<div id="fade" onClick="lightbox_close();"></div>
	</h4>

	<h4>
		<div class="info">
			<a onclick="show(2)">
			2) How can I see the time left?
			</a>
		</div>
		<div class="hiddenInfo" id="hidden2" style="display: none;">
			<p>
				- You would only receive auditory cues, but would not be able to see actual time. This is beacause we want to reduce the amount of distractions. 
			</p>
		</div>
	</h4>

	<h4>
		<div class="info">
			<a onclick="show(3)">
			3) How do I know my session is in progress?
			</a>
		</div>
		<div class="hiddenInfo" id="hidden3" style="display: none;">
			<p>
				- Besides having regular auditory cues, the go to way to know that your session has started by looking at the animation moving. 
			</p>
			<img src="/images/tenor.gif">
		</div>
	</h4>

	<h4>
		<div class="info">
			<a onclick="show(4)">
			4) Is there a way to pause my session?
			</a>
		</div>
		<div class="hiddenInfo" id="hidden4" style="display: none;">
			<p>
				- There actually is. It's located at the bottom of the page once the user starts reading. In this region, there is not only a pause button, but a resume button as well. 
			</p>
		</div>
	</h4>

	<h4>
		<div class="info">
			<a onclick="show(5)">
			5) [Insert Question]
			</a>
		</div>
		<div class="hiddenInfo" id="hidden5" style="display: none;">
			<p>
				- [Insert Answer]
			</p>
		</div>
	</h4>

	<h4>
		<div class="info">
			<a onclick="show(6)">
			6) Why is there an UwU at the bottom of each page?
			</a>
		</div>
		<div class="hiddenInfo" id="hidden6" style="display: none;">
			<p>
				- Good question, the UwU at the bottom actually functions as universal home button.
			</p>
		</div>
	</h4>

	<h4>
		<div class="info">
			<a onclick="show(7)">
			7) Why Studuwu?
			</a>
		</div>
		<div class="hiddenInfo" id="hidden7" style="display: none;">
			<p>
				The real question is ... Why not? UwU
			</p>
		</div>
	</h4>
</div>


<div class="uwu">
	<footer>
		<a href="/home/{{userID}}" style="text-decoration:none;color:black ">UwU</a>
	</footer>
</div>
</body>
</html>