<html>
<head>
	<title>Studuwu</title>
	<meta charset="UTF-8">
	<meta name="description" content="A nice study tool for cool stuff and things">
	<meta name="keywords" content="Studuwu, uwu, study, tool, study tool, books, CSE 170, COGS 120, assignment">
	<link rel="stylesheet" href="../css/fontawesome.css">
	<!-- TODO: add in style sheets and javascript stuff for the backend -->
</head>
<body>
	<div class="topBorder">
		<h1>STUDUWU</h1>
		<h2>A Book Reading Time Management Study Tool</h2>
		<h3><a href="/add">Add Book</a> <a href="/toduwu">?</a></h3>
	</div>
	<div class="photoDiv">
		<b>Photo goes here</b>
	</div>
	<div class="bookInfo">
		<b>book title</b>
		<p>Author: <i>insert author's name here</i></p>
		<p>Pages left in Book: <i>insert number of pages here</i></p>
		<p>Estimated Time Left: xxxx minutes</p>
		<p>xxx% left</p>
		<i>Progress bar goes here</i>
	</div>
	<button><a href="/toduwu">Start Reading!</a></button>
	<footer>
		<a href="https://github.com/nate-browne/Studuwu" target="_blank"><i class="fa fa-github"></i></a>
		<h4>UwU</h4>
	</footer>
</body>
</html>
