<html>
<head>
	<title>Studuwu</title>
	<meta charset="UTF-8">
	<meta name="description" content="A nice study tool for cool stuff and things">
	<meta name="keywords" content="Studuwu, uwu, study, tool, study tool, books, CSE 170, COGS 120, assignment">
	<link rel="stylesheet" href="../css/fontawesome.css">
	<link rel="stylesheet" href="css/index.css">
	
	<!-- Progress bar -->
	
	<!-- TODO: add in style sheets and javascript stuff for the backend -->
</head>

<body>
	<div class="header">
		<!-- Useul unicode for later  &#8592; -->
		<!-- Back Button -->
		<button onclick="window.location.href='/'" class="back"> 
		&#9776;&#10093;
		</button>
		<!-- App name -->
		<h1> STUDUwU </h1>

			<!-- Help Button -->
		<button class="help">  
		</button>
	</div>

	<div class="photoDiv">
		<img src="../images/book.jpg">
	</div>


	<div class="bookInfo">
		<b> Catch 22 </b>
		<p> Author: Joseph Heller </p>
		<p>Pages left in Book: 100</p>
		<p>Estimated Time Left: 83 minutes</p>
		<p>22% left</p>
		
		<!-- Progress Bar -->
		<div class="progress">
			<span style="width: 78%"></span>
		</div>
	</div>


	<div class="start">
		<button onclick="window.location.href='/reading'"> 
			Start Reading! 
		</button>
	</div>
	
	<div class="uwu">
		<footer>
			<a href="https://github.com/nate-browne/Studuwu" target="_blank"><i class="fa fa-github"></i></a>
			<h4>UwU</h4>
		</footer>
	</div>
</body>
</html>