<html>
<head>
	<title>	Login </title>
	<!--
	<meta name="viewport" content="width=device-width">
	-->	<!-- Link a CSS style sheet -->
	<link rel="stylesheet" href="css/login.css">
	<link href='https://fonts.googleapis.com/css?family=Baloo Thambi' rel='stylesheet'>
	<link rel="stylesheet" href="../css/fontawesome.css">
</head>
<body class="calm">

<!-- Header of the page-->
<div class="header">

	<!-- App name -->
	<h1> STUDUwU </h1>
	
</div>

<div class="login">
	
	<button>
		<a onclick="window.location.href='/home'" class="btn btn-block btn-social btn-facebook">
	    		<span class="fa fa-facebook"></span> Sign in with Facebook
		</a>
	</button>

	<button>
		<a onclick="window.location.href='/home'" class="btn btn-block btn-social btn-google">
	    		<span class="fa fa-google"></span> Sign in with Goggle
		</a>
	</button>

</div>

</body>
</html>