<html>
  <head>
    <title>Studuwu Privacy Policy</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Baloo Thambi' rel='stylesheet'>
  </head>
  <style>
    .text {
      font-family: "Roboto", sans-serif;
    }
    h1.text {
      text-align: center;
    }
    .calm {
      /* The image used */
      background-image: url("../images/calm.jpg");

      /* Full height */
      height: 100%; 

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }
    .uwu{
      text-align: center;
      font-size: 80px;
      font-family: Baloo Thambi;
      padding-top: 50px;
    }
  </style>
  <body class="calm">
    <h1 class="text">Our Privacy Policy</h1>
    <p class="text">
      The only data we store is information about your reading sessions.
      None of our data is ever sold or used for monetary purposes (we're students, after all).
      <br>You should probably know, however, that your data is being stored in a very, very insecure way.
      We couldn't be bothered to actually do this thing properly, so you're gonna have to hope that we never get hacked :p
    </p>
    <div class="uwu">
      <footer>
        UwU
      </footer>
    </div>
  </body>

</html>