<html>
<head>
	<title>	Reading </title>
	<!-- Link a CSS style sheet -->
	<link rel="stylesheet" href="css/help.css">
</head>
<body class="calm">

<!-- Header of the page-->
<div class="header">
	<!-- Useul unicode for later&#9776;-->
	<!-- Back Button -->
	<button onclick="window.location.href='/'" class="back"> 
		&#8592; 
	</button>
	<!-- App name -->
	<h1> STUDUwU </h1>

	<!-- Help Button -->
	<button class="help">  
	</button>
	
</div>

<!-- Subtitle-->
<div class="title">
	<h2> <b> SHHH! I'm trying to read! </b> </h2>
</div>

<div class="uwu">
	<footer>
		UwU
	</footer>
</div>
</body>
</html>