<html>
<head>
	<title>	Reading </title>
	<!--
	<meta name="viewport" content="width=device-width">
	-->
	<!-- Link a CSS style sheet -->
	<link rel="stylesheet" href="/css/reading.css">
	<link href='https://fonts.googleapis.com/css?family=Baloo Thambi' rel='stylesheet'>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/sound.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
</head>
<body class="calm">

<!-- Header of the page-->
<div class="header">
	<!-- Useul unicode for later&#9776;-->
	<!-- Back Button -->
	<button onclick="window.location.pathname='/home/{{userID}}'" class="back"> 
		&#10094;
	</button>
	<!-- App name -->
	<h1> STUDUwU </h1>

	<!-- Help Button -->
	<button class="help">  
	</button>
	
</div>

<audio id="sound" src="../images/beep-07.mp3" type="audio/mp3"></audio>

<script type="text/javascript">
	this.playSound(40000);
</script>

<div class="loader"></div>
<!-- Subtitle-->
<div class="title">
	<marquee> 
		<h1> <b> SHHH! I'm trying to read! </b> </h1>
	</marquee>
</div>

<div class="uwu">
	<footer>
		UwU
	</footer>
</div>
</body>
</html>