<html>
  <head>
    <title>Studuwu Terms of Service</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Baloo Thambi' rel='stylesheet'>
  </head>
  <style>
    #creativename {
      font-family: "Roboto", sans-serif;
      text-align: center;
    }
    .text {
      font-family: "Roboto", sans-serif;
    }
    h1.text {
      text-align: center;
    }
    .calm {
      /* The image used */
      background-image: url("../images/calm.jpg");

      /* Full height */
      height: 100%; 

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }
    .uwu{
      text-align: center;
      font-size: 80px;
      font-family: Baloo Thambi;
      padding-top: 50px;
    }
  </style>
  <body class="calm">
    <h1 class="text">Terms of Service</h1>
    <p class="text">
      Let's be honest, you're not reading this. And we only added it so Facebook
      (thank you Papa ZUC<a style="text-decoration:none;color:black" href="https://www.youtube.com/watch?v=g9YL9lWbb8A" target="_blank">C</a>) would let us publish the app.

      If we had to say something about terms, just don't break our site please and if you do, make sure that
      you do something cool. Cross Site Scripting is lame AF and SQL injections don't work (cause we don't use SQL).

      <br><br>If you're still reading this far, you've earned one free UwU courtesy of the team. Redeem it at your local UwU dealership (while supplies last).
    </p>
    <p id="creativename">
      <br><br>Click the UwU below to go back to the home screen,
      <a style="text-decoration:none;color:black" href="https://www.youtube.com/watch?v=du-TY1GUFGk" target="_blank">my dudes.</a> 
    </p>
    <div class="uwu">
      <footer>
        <a href="/" style="text-decoration:none;color:black">UwU</a>
      </footer>
    </div>
  </body>

</html>