<html>
  <head>
    <title>Not Done Yet!</title>
  </head>
  <body>
    <h1>This page isn't ready yet!</h1>
    <p>Check back later when it is!</p>
    <img src="../images/404bot.jpg" alt="Under construction" width="400", height="400">
    <a href="/">Back to Login Screen</a>
  </body>
</html>